.head {
  font-family:'Helvetica';
  width: 95vw;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 15px;
  text-align: center;
  background-size: cover;
  background-color: black;
  color: cornsilk;
}

.map-container{
  height: 80vh;
  width: 97vw;
}

.iss-icon{
  height: auto;
  width: 100px;
}

footer{
  bottom: 0;
  font-family:'Helvetica';
  width:100%;
  width: 95vw;
  margin: 0px;
  padding: 15px;
  text-align: center;
  background-color: black;
  color: cornsilk;
}

